table {
  width: 40%;
  align-self: center;
  position: absolute;
  left: 30%;
}

th, td {
  border: 3px solid black;
  border-radius: 10px;
  font-size: 30px;
  color: #58287F;
}

/*tr:nth-child(even) {
  background-color: #;
}*/